* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-weight: normal;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    font-family: 'Poppins', sans-serif;
}

header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: white;
        font-size: 2rem;
        letter-spacing: 1px;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(135deg, #9b4de4, #9517bb);
    flex-grow: 1;

    .card-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        height: inherit;
        width: 90%;
        flex-wrap: wrap;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 460px;
            width: 400px;
            background-color: #fff;
            border-radius: 6px;
            box-shadow: 10px 10px 10px #1f1f1f;
            margin-bottom: 20px;
            margin-top: 20px;

            .title {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                height: 100px;
                width: inherit;
                color: #1f1f1f;

                h2 {
                    font-size: 2rem;
                    letter-spacing: 1px;
                    font-weight: 500;
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-grow: 1;
                width: inherit;
                padding: 10px;

                p {
                    font-size: 1.1rem;
                    color: #1f1f1f;
                    line-height: 1.5;
                }
            }

            .button {
                height: 50px;
                width: inherit;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    height: 40px;
                    width: 140px;
                    background-color: #1f1f1f;
                    border: none;
                    border-radius: 25px;
                    color: #fff;
                    text-transform: uppercase;
                    transition: .5s linear;
                    cursor: pointer;

                    &:hover {
                        transform: translate3d(0, -10px, 0);
                        transition: .5s linear;
                    }
                }
            }
        }
    }
}

footer {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        color: white;
        font-size: 1.1rem;
    }
}